<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LeBonPlan{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="footer-bottom">
            <p>&copy; 2024 - Tous droits réservés - Web4All</p>
        </div>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>