<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LeBonPlan{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/script.js"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    
    {# On inclut le footer stylé de base.html.twig #}
    {% include 'layout/footer.html.twig' %}
    
    {% block javascripts %}{% endblock %}
</body>
</html>